*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
body{
    padding-top: 50px;
}
.page{
    display: flex;
    margin:0 auto;
    /* flex: 0 0 220px; */
    width: 90%;
    height:auto;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}
header{
    width: 100%;
}
.header-container{
    background: url(http://demo.rommar.in.ua/novanoid/novanoid-1/img/header-4.jpg) no-repeat;
    /* background-size: 100%,100%; */
    background-position: top;
    border: 1px solid black;
    height: 600px;
    width: 100%;
    /* margin: 0 auto;
    margin-top: 0; */
    text-align: center;
}
.header-container h1{
    color: aliceblue;
    /* text-align: center; */
    margin-top: 300px;
    font-size: 50px;
    font-weight: 400 ;
}
.header-container span{
    color: aliceblue;
}
/* nav start*/

.nav-bar{
    /* padding: 0 40px 0 15px; */
    display: flex;
    position: fixed;
    /* border: 1px solid black; */
    justify-content: space-between;
    width: 89.5%;
    height:100px;
    align-items: center;
    /* background-color: white; */
    /* opacity: 50%; */
}
#navbar-toggle{
    height: 20px;
    /* size: 100px; */
    border: 0;
    background: none;
    cursor: pointer;
    margin-right: 30px;
}
/* #navbar-toggle:active .nav-list-container{
    visibility: visible;
} */
#toggle-icon{
    color: white;
 /* color: #434a54; */
}
.nav-logo{
    background: url(http://demo.rommar.in.ua/novanoid/novanoid-1/img/logo-light.png) no-repeat ;
    width: 80px;
    height: 27px;
    /* border: 1px solid black; */
    filter: invert(100%);
    margin-left: 15px;
    /* cursor: pointer; */
}
.nav-list-container{
    display: none;
    position: absolute;
    top:100px;
    width: 100%;
    /* background-color: white; */
}
.nav-list{
    margin: 0 auto;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    /* border: 1px solid black; */
    top:100px;
    width: 90%;
    background-color: #434a54;
}
.nav-list-item{
    margin-top: 10px;
    margin-bottom: 5px;
    /* border: 1px solid black; */
}
.nav-list-item a{
    color: azure;
    text-decoration: none;
}
.nav-list-item1{
    margin-top: 20px;
}
.nav-list-item7{
    margin-bottom: 15px;
}
.show{
    display: block;

}

/* nav end*/

/*main content start*/
.main-content{
    background-color: white;
    width: 100%;
    padding-top: 100px;
    padding-left: 10px ;
    padding-right: 10px;
    padding-bottom: 100px ;
}
.feature-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    /* border: 1px solid black; */
    width: 100%;
    row-gap: 20px;

}
/* .feature h3{
    font-weight: 600;
} */
.feature div{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size: small;
}
.feature h3, .feature div{
    margin-left: 45px;
}
.feature i{
    position: relative;
    top: 23px;
    color: MediumAquaMarine;
    left: 5px;
}
@media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; 
    }
  }
@media only screen and (min-width: 401px) and (max-width: 670px) { 
    body {
        background-color: indianred; 
    }
}
@media only screen and (min-width: 671px) and (max-width: 767px) { /*pic in oiur work change to 2 column instead of 1*/
    body {
        background-color: tomato; 
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) { /*nav bar visible, item no longer stack 1 column, now 2 row*/
    body {
        background-color: lightyellow; 
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) { /*pic in our work change to 3 column*/
    body {
        background-color: lightgreen; 
    }
}
@media only screen and (min-width: 1201px) { /* wide pic in our work expand*/
    body {
        background-color: lightblue; 
    }
}