/*global setting start*/
:root{
    --darker-blueish-gray: #434a54;
    --dark-blueish-gray:#656d78;
    --light-blueish-gray: #aab2bd;
    --lighter-blueish-gray:#f3f4f8;
    --darker-aquamarine: #48cfae;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
body{
    padding-top: 50px;
}
.page{
    display: flex;
    margin:0 auto;
    /* flex: 0 0 220px; */
    width: 90%;
    height:auto;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    
}
.dashed-hr{
    border-top:dashed 1px gray;
}
.normal-hr{
    width: 100%;
}
/*global setting end*/

/* nav start*/

header{
    width: 100%;
}
.header-container{
    background: url(http://demo.rommar.in.ua/novanoid/novanoid-1/img/header-4.jpg) no-repeat;
    /* background-size: 100%,100%; */
    background-position: top;
    border: 1px solid black;
    height: 600px;
    width: 100%;
    /* margin: 0 auto;
    margin-top: 0; */
    text-align: center;
}
.header-container h1{
    color: aliceblue;
    /* text-align: center; */
    margin-top: 300px;
    font-size: 50px;
    font-weight: 400 ;
}
.header-container span{
    color: aliceblue;
}
.nav-bar{
    /* padding: 0 40px 0 15px; */
    display: flex;
    position: fixed;
    /* border: 1px solid black; */
    justify-content: space-between;
    width: 89.5%;
    height:100px;
    align-items: center;
    /* background-color: white; */
    /* opacity: 50%; */
    z-index: 1;
}
#navbar-toggle{
    height: 20px;
    /* size: 100px; */
    border: 0;
    background: none;
    cursor: pointer;
    margin-right: 30px;
}
#toggle-icon{
    color: white;
 /* color: #434a54; */
}
.nav-logo{
    background: url(http://demo.rommar.in.ua/novanoid/novanoid-1/img/logo-dark.png) no-repeat ;
    width: 80px;
    height: 27px;
    /* border: 1px solid black; */
    /* filter: invert(100%); */
    margin-left: 15px;
    /* cursor: pointer; */
    /* color: var(--darker-blueish-gray); */
}
.nav-list-container{
    display: none;
    position: absolute;
    top:100px;
    width: 100%;
    /* background-color: white; */
}
.nav-list{
    margin: 0 auto;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    /* border: 1px solid black; */
    top:100px;
    width: 90%;
    background-color: #434a54;
}
.nav-list-item{
    margin-top: 10px;
    margin-bottom: 5px;
    /* border: 1px solid black; */
}
.nav-list-item a{
    color: azure;
    text-decoration: none;
}
.nav-list-item1{
    margin-top: 20px;
}
.nav-list-item7{
    margin-bottom: 15px;
}
.show{
    display: block;

}

/* nav end*/

/*main content start*/

    /*feature start*/

.main-content{
    background-color: white;
    width: 100%;
    padding-top: 100px;
    /* padding-left: 10px ;
    padding-right: 10px; */
    padding-bottom: 100px ;
}
.feature-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    /* border: 1px solid black; */
    width: 100%;
    row-gap: 20px;
    padding-bottom: 75px;
}
.feature div{
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size: small;
}
.feature h3, .feature div{
    margin-left: 50px;
}
.feature h3{
    color: var(--darker-blueish-gray);
}
.feature div{
    color: var(--dark-blueish-gray);
}
.feature i{
    position: relative;
    top: 23px;
    color: MediumAquaMarine;
    left: 15px;
}

    /*feature end*/

    /*work start*/

.work-container{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    background-color:var(--lighter-blueish-gray);
    /* border: 1px solid black; */
    padding-bottom: 50px;
}
.work-container h2{
    margin-bottom: 15px;
    color: var(--darker-blueish-gray);
}
.work-container hr{
    text-align: center;
    margin: 0 auto;
    width: 10%;
}
.work-container p{
    /* border: 1px solid black; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    color: var(--dark-blueish-gray);
}
.work-category{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    list-style: none;
}
.work-category button{
    width:200px;
    height:20px;
    background-color: var(--lighter-blueish-gray);
    color: var(--dark-blueish-gray);
    border: none;
    cursor: pointer;
    font: inherit;
    border-radius: 5px;
    font-weight: 700;
}
.work-category button:hover {
    color: var(--darker-aquamarine);
}

.work-category button:active{
    color: white;
    background-color: var(--darker-aquamarine);
}
.work-category button:focus{
    color: white;
    background-color: var(--darker-aquamarine);
}
.work-collection{
    /* margin-top: 50px ;  */
    /* margin-left: 50px; */
    margin-top: 50px;
    display: grid;
    list-style: none;
    /* justify-items:center;
    align-items: center; */
    grid-template-columns: 80%;
    grid-template-rows:  200px 200px 200px 200px 200px 200px 200px 200px 200px;
    /* height: 2500px; */
    row-gap: 50px;
    /* border: 1px solid black; */
    padding-left: 60px;
}
.work-item{
    /* border: 1px solid black; */
    border-radius: 5px;
    overflow: hidden;
}
.image{
    position: relative;;
}
.image span{
    display: none;
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
}
.image img{
    width:500px;
    height:200px;
}

    /*work end*/
    
    /*service start*/

.service-container{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    background-color: white;
    padding-bottom: 90px;
}
.service-container h2{
    margin-bottom: 15px;
    color: var(--darker-blueish-gray);
}
.service-container hr{
    text-align: center;
    margin: 0 auto;
    width: 10%;
}
.service-container p{
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font-size: small;
    color: var(--dark-blueish-gray);
}
.service-grid{
    display: grid;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    background-color: white;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    row-gap: 50px;
}
.service i{
    color: var(--darker-aquamarine);
}
.service h3{
    margin-bottom: 15px;
    margin-top: 5px;
    color: var(--darker-blueish-gray);
}
.service hr{
    text-align: center;
    margin: 0 auto;
    width: 10%;
    
}
.service p{
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    color: var(--dark-blueish-gray);
}

    /*service end*/

    /*parallax start*/

.parallax-bg{
    width: 100%;
    height: 400px;
    border: 1px solid black ;
    background: url(http://demo.rommar.in.ua/novanoid/novanoid-1/img/parallax.jpg) no-repeat;
    background-position:left;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.parallax-bg h1 i{
    color: rgb(251, 101, 101);
    margin-left: 7px;
    margin-right: 7px;
}
.parallax-bg h1{
    margin-bottom: 15px;
    margin-top: 100px;
    color: white;

}
.parallax-bg p{
    font-family: 'Roboto', sans-serif;
    font-size: small;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
.parallax-bg button{
    margin-top: 50px;
    width: 150px;
    height: 40px;
    background-color: rgb(255, 255, 255,0);
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    font-weight: 700;
}
.parallax-bg button i{
    margin-right: 3px;
}

    /*end parallax*/

    /*team start*/

.team-container{
    width: 100%;
    text-align: center;
    padding-top: 100px;
    background-color: white;
    padding-bottom: 30px;
}
.team-container h2{
    margin-bottom: 15px;
    color: var(--darker-blueish-gray);
}
.team-container hr{
    text-align: center;
    margin: 0 auto;
    width: 10%;
}
.team-container p{
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font-size: small;
    color: var(--dark-blueish-gray);
}
.team-flexbox{

    list-style: none;
    display: flex;
    width: 90%;
    height: auto;
    /* border: 1px solid red; */
    padding-top: 50px;
    background-color: white;
    /* flex-wrap: wrap; */
    justify-content: center; 
    flex-direction: column;
    margin:0 auto;
}
.team-member{
    text-align: left;
    width: auto;
    /* border: 1px solid black; */
    overflow:hidden;
    margin-bottom:50px;
}
.team-member h3{
    margin-top: 10px;
    color:var(--dark-blueish-gray)
}
.team-member span{
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: 200;
    color: var(--light-blueish-gray)
}
.team-member img{
    width:100%;
    height:auto;
}

    /*team end*/

    /*stat start*/

.stats-container{
    margin-top: 10px;
    display: flex;
    list-style: none;
    text-align: center;
    flex-direction: column;
}
.stats{
    position: relative;
    margin: 30px auto;
    /* border: 1px solid black; */
    width: 200px;
    color:var(--light-blueish-gray);
}
.stats i{
    position: absolute;
    color: var(--darker-aquamarine);
    left:20px;
    top:25px;
}
.stats-number{
    color:var(--dark-blueish-gray) ;
    font-family: "Roboto", sans-serif;
    font-size:25px;
}

    /*stat end*/

    /*buy start*/
.buy-container{
    background-color: #f3f4f8;
    margin-top: 100px;
    text-align: center;
}
.buy-container h2{
    margin-top: 60px;
    margin-bottom: 15px;
    color: var(--darker-blueish-gray);
}
.buy-container hr{
    visibility: hidden;
    text-align: center;
    margin: 0 auto;
    width: 10%;
}
.buy-container p{
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font-size: small;
    color: var(--dark-blueish-gray);
}
.buy-flexbox{
    /* border: 1px solid black; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy-box{
    text-align: center;
    margin-bottom: 50px;
    width: 93%;
    height: 370px;
    border: 1px solid azure;
}
.buy-box hr{
    width: 100%;
    border: azure;
}
.buy-box h3{
    padding-top: 30px;
    height: 70px;
    background-color: #f9f9fb;
    color: var(--dark-blueish-gray);
}
.buy-info{
    background-color: white;
    height: 300px;
    padding-top: 30px;
    font-family: 'Roboto',sans-serif ;
}
.buy-cost{
    font-size: x-large;
    font-family: 'Roboto',sans-serif ;
    color: var(--darker-aquamarine);
    font-weight: 400;
    margin-bottom: 5px;
}
.buy-info p{
    color: var(--light-blueish-gray);
    /* margin-top: 2px; */
    font-family: 'Roboto',sans-serif ;
}
.buy-info button{
    height: 30px;
    width: 85px;
    margin-top: 25px;
    background-color: var(--darker-aquamarine);
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 700;
}

    /*buy end*/

    /*blog start*/
.blog-container{
    /* background-color: #f3f4f8; */
    /* margin-top: 100px; */
    text-align: center;
    /* border: 1px solid black; */
    padding-top: 80px;
    padding-bottom: 100px;
}
.blog-container h2{
    /* margin-top: 100px; */
    margin-bottom: 15px;
    color: var(--darker-blueish-gray);

}
.blog-container hr{
    /* visibility: hidden; */
    text-align: center;
    margin: 0 auto;
    width: 10%;
}
.blog-outer-info{
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font-size: small;
    color: var(--dark-blueish-gray);
}
.blog-grid{
    margin: 50px auto;
    text-align: left;
    display: grid;
    /* border: 1px solid black; */
    width: 93%;
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    row-gap: 80px;
    
}
.blog-item{
    /* border: 1px solid black; */
}
.blog-header b{
    font-size: 14px;
    font-family:'Roboto', sans-serif;
    color: var(--darker-blueish-gray);
    /* padding-left: 15px !important; */
    /* border: 1px solid black; */
}
.blog-date{
    margin-top: 5px;
    color: var(--light-blueish-gray);
    font-size: 12px;
    font-family:'Roboto', sans-serif;
}
.blog-info{
    margin-top: 15px;
    font-size: 13px;
    font-family:'Roboto', sans-serif;
    color: var(--dark-blueish-gray);
}
.blog-item button{
    margin-top: 20px;
    font-size: 16px;
    /* font-family:'Roboto', sans-serif; */
    color: var(--darker-aquamarine);
    background-color: white;
    border: 1px solid var(--darker-aquamarine);
    width: 80px;
    height: 30px;
    border-radius: 4px;
    font-weight: 700;
    /* margin-bottom: 15px; */
}
.blog-read-all{
    font-size: 16px;
    /* font-family:'Roboto', sans-serif; */
    color: white;
    background-color: var(--darker-aquamarine);
    border: 1px solid var(--darker-aquamarine);
    width: 160px;
    height: 40px;
    border-radius: 4px;
    font-weight: 700;
}
.blog-read-all i{
    margin-right: 4px;
}
    
    /*blog end*/
    /*contact start*/

.contact-container{
    background-color: var(--lighter-blueish-gray);
    /* margin-top: 100px; */
    text-align: center;
    /* border: 1px solid black; */
    padding-top: 80px;
    padding-bottom: 80px;
}
.contact-container h2{
    /* margin-top: 100px; */
    margin-bottom: 15px;
    color: var(--darker-blueish-gray);

}
.contact-container hr{
    /* visibility: hidden; */
    text-align: center;
    margin: 0 auto;
    width: 10%;
}
.contact-outer-info{
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font-size: small;
    color: var(--dark-blueish-gray);
}
.contact-address-header{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--dark-blueish-gray);
}
.contact-address-body{
    color: var(--dark-blueish-gray);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.contact-mail-header{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--dark-blueish-gray);
}
.contact-mail-body{
    color: var(--darker-aquamarine) !important;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-decoration: none !important;
    
}
.contact-phone-header{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--dark-blueish-gray);
}
.contact-phone-body{
    color: var(--dark-blueish-gray) ;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin-bottom: 50px;
}
.contact-form{
    text-align: left;
}
@media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; 
    }
  }
@media only screen and (min-width: 401px) and (max-width: 670px) { 
    body {
        background-color: indianred; 
    }
}
@media only screen and (min-width: 671px) and (max-width: 767px) { /*pic in oiur work change to 2 column instead of 1*/
    body {
        background-color: tomato; 
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) { /*nav bar visible, item no longer stack 1 column, now 2 row*/
    body {
        background-color: lightyellow; 
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) { /*pic in our work change to 3 column*/
    body {
        background-color: lightgreen; 
    }
}
@media only screen and (min-width: 1201px) { /* wide pic in our work expand*/
    body {
        background-color: lightblue; 
    }
}